image: openjdk:17-slim

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

before_script:
  - GRADLE_USER_HOME="$(pwd)/.gradle"
  - export GRADLE_USER_HOME

stages:
  - verify
  - publish

lint:
  stage: verify
  cache:
    paths:
    - .gradle
  script: ./gradlew lintKotlin

publish:
  stage: publish
  cache:
    paths:
    - .gradle
  rules:
    - if: '$CI_COMMIT_TAG'
  script:
   - |
     if grep -Eq "version\s+=\s+\"${CI_COMMIT_TAG}\"" ./build.gradle.kts
      then
        echo "Publishing ${CI_COMMIT_TAG} version"
        ./gradlew publish
      else
        echo "version '${CI_COMMIT_TAG}' must exist in the build.gradle.kts file."
        exit 1
      fi
