image: openjdk:21-slim

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

before_script:
  - GRADLE_USER_HOME="$(pwd)/.gradle"
  - export GRADLE_USER_HOME

stages:
  - verify
  - publish

lint:
  stage: verify
  cache:
    paths:
    - .gradle
  script: ./gradlew lintKotlin

publish:
  stage: publish
  cache:
    paths:
    - .gradle
  rules:
    - if: '$CI_COMMIT_TAG'
  script:
   - ./gradlew "-Pversion=$CI_COMMIT_TAG" publish
